<?xml version="1.0" encoding="utf-8" ?>

<!--class 用某一个类来处理, -->
<configuration>

    <!--配置一个控制台log-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <!--样式-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--信息 %d 日期, %msg 信息, %n 换行-->
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--配置一个info文件log, 需要滚动日志处理-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--info 级别不收集高级别的ERROR日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>logs/info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--配置一个error文件log, 需要滚动日志处理-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--info 级别不收集高级别的ERROR日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>logs/error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--生效 种类 级别 -->
    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>
</configuration>